@import "src/assets/sass/var";

.strategyPage {
  //margin: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 500px;
  max-width: 500px;
  margin: 20px auto;

  .backBtnWrap {
    width: 100%;
    .backBtn {
      text-decoration: none;
      font-weight: 500;
      color: $general-text-color;
      float: left;
    }
  }


  .titleWrap {
    width: 100%;
    .title {
      float: left;
      font-weight: 500;
    }
  }

  .strategyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .strategyItem {
      width: 100%;
      padding: 10px 0;
      box-shadow: rgb(131 131 131 / 15%) 0px 16px 20px, rgb(131 131 131 / 15%) 0px 0px 20px;
      display: flex;
      cursor: pointer;
      //flex-direction: column;
      justify-content: start;
      align-items: center;
      //background: rgba(55, 143, 143, 0.88);

      &:nth-child(odd) {background: rgba(55, 143, 143, 0.29)
      }

      .name {
        margin: 0 20px;
        padding: 0;
        font-weight: 500;
      }

    }
  }
}
